<!DOCTYPE html> 
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <img src="static/roughneck.jpg" />
        <h1>About Flask site</h1>
        <div class="video">
            <p>
                I was able to make this from watching a youtube video about flask webservers. Still not sure what everything does but it makes a little more sense. Gotta work on my html and css coding!
            </p>
            <a href="{{ url_for('main') }}">Return To Homepage</a>
        </div>
    </body>
</html>