<!DOCTYPE html> 
<html>
    <head>
        
        <title>RaspberryPi Flask Webserver</title>
    
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <!-- <img src="static/roughneck.jpg" /> -->
        
        <h1>Welcome to the Dimmsdale Dimmadome</h1>

        <!-- A button that tell the time and date. Wanna use for raspberrypi to display time with led's -->
        <button onclick="getElementById('demo').innerHTML=Date()">What is the time?</button>

        <p id="demo"></p>
        
        
        <div class="video">
            <!-- This can put a video on page -->
          <!--   <iframe width="560" height="315" src="https://www.youtube.com/watch?v=SBxpeuxUiOA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        
            <!-- This makes a hyperlink for the about page-->  
          <a href="{{ url_for('about') }}">Goto About Us</a>
        </div>
        
    </body>
</html>